body{
    margin:0;
    padding-bottom:300px;
}

#Home{
    background-image: url("../thumbnails/man&laptop2.jpg");
    height:560px;
    width:100%;
    background-repeat: no-repeat;
    -webkit-background-size:cover;
    background-size: cover;
    background-position:center center;
    background-attachment: scroll;
    background-color: rgba(32, 31, 31, 1);
    background-blend-mode: multiply;
    padding-top:60px;
    display: flex;
    flex:1 1;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    color:white;
}

#Home h2{
    font-family:'Times New Roman', Times, serif;
    font-weight:600;
    font-size:39px;
}


.type{
    font-size:45px;
    margin-bottom: 20px;
    margin-top: 0px;
    text-align: center;
}

.type:after{
    visibility: visible;
    content: '';
    background-color: #fff;
    display: inline-block;
    position: relative;
    width: 3px;
    height: 42px;
    top: 5px;
    margin-left: 3px; 
}

main a{
    text-decoration: none;
    color: black;
}


.scroll-down {
    position: absolute;
    left: 50%;
    bottom: 18px;
    display: block;
    text-align: center;
    font-size: 20px;
    z-index: 100;
    text-decoration: none;
    text-shadow: 0;
    width: 13px;
    height: 13px;
    border-bottom: 2px solid #fff;
    border-right: 2px solid #fff;
    z-index: 9;
    left: 50%;
    -webkit-transform: translate(-50%, 0%) rotate(45deg);
    -moz-transform: translate(-50%, 0%) rotate(45deg);
    transform: translate(-50%, 0%) rotate(45deg);
    -webkit-animation: fade_move_down 4s ease-in-out infinite;
    -moz-animation:    fade_move_down 4s ease-in-out infinite;
    animation:         fade_move_down 4s ease-in-out infinite;
  }
  
  
  /*animated scroll arrow animation*/
  @-webkit-keyframes fade_move_down {
    0%   { -webkit-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -webkit-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @-moz-keyframes fade_move_down {
    0%   { -moz-transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { -moz-transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }
  @keyframes fade_move_down {
    0%   { transform:translate(0,-10px) rotate(45deg); opacity: 0;  }
    50%  { opacity: 1;  }
    100% { transform:translate(0,10px) rotate(45deg); opacity: 0; }
  }


  /* media query for home page*/
@media (max-width:900px) {
    .nav-link{display:none}
}

@media screen and (max-width: 800px) {
    .general-header{padding:0;}
    .home{ background-size:cover; 
        background-position: -550px;
        height:730px;}

    #Home{
        font-size: 25px;
    }

    .type{display: flex;
          text-align:center;
         font-size:35px;
         font-weight: 800;
         white-space:wrap;
         width:350px}

    .nav-link{display:none}
    .left-section{font-size:28px; margin-left:10px;}
    .left-section span{font-size:28px}
}

/*Second Layer Style*/

.aboutme{
    height:fit-content;
}

.aboutImage{
    border:white solid 5px;
    background-color: lightgray;
    width:fit-content;
    border-radius: 50px;
    margin: 0px 0px 0px 60px;
    cursor: pointer;
}

.Royal:hover {
    animation: shake 0.5s;
    animation-iteration-count: infinite;
}


@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}
  


.aboutContent{
    display: flex;
    flex-direction: row;
    flex:1 1;
    background-color: white;
    height:90vh;
    justify-content:stretch;
    align-items: center;
}

.myDescription{
   margin: 0px 70px 0px 70px;
}

.myDescription h2{
font-size: 30px;
}

.myDescription h3{
    margin-top: 0px;
    font-size: 22px;
    font-weight: 400;
    margin-bottom: 15px;
}

.myDescription h3 span{
    font-weight: 600;
}

.myDescription h4{
    font-size: 20px;
    font-weight: 400;
}

.myDescription h5{
    font-size: 20px;
    font-weight:400;
    font-family:'Times New Roman', Times, serif;
    margin-top: 0px;
    margin-bottom: 20px;
    line-height: 25px;
}

@media(max-width:900px){
    .aboutContent{
        display:flex;
        flex-direction: column;
        flex:1;
        height:fit-content;
        text-align: start;
    }

    .aboutImage{
        display: none;
    }
}


/* Third Layer style*/
/*start of the thirdLayer*/
.Specialise{
    font-size: 25px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background: rgb(237, 239, 240);
    margin: 0px;
    padding-top:1em;
}

.thirdLayer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr ;
    background: rgb(237, 239, 240);
    height: 100vh;
}

  .container{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .specialization-skill-box{
    min-height: 400px;
    width: 350px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    box-shadow: 0 8px 30px rgba(0,0,0,.3);
  }

  .specialization-skill-box:hover{
    box-shadow: 0 8px 30px rgba(0,0,0,.6);
  }

  .text{
    padding: 2.2em;
    line-height: 1.7em;
    position: relative;
    font-size: 18px;
  }

  .image{
    background-color:rgb(250, 250, 250);
    height: 120px;
    width: 120px;
    border-radius: 50%;
    border: 3.5px solid #1a2B96;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    justify-content:center;
    
  }

  .image .fa-solid{
    position:absolute;
    top:33%;
    left:28%;
    font-size:44px
  }

  .image .fa-mobile-screen{
    position:absolute;
    top:35%;
    left:35%;
    font-size:44px
  }
  
  .header{
    background: linear-gradient(90deg, #1a2B96 0%, #d22B96 100%);
    height: 140px;
    border-radius: 10px 10px 0px 0px;
    position:relative;
    
  }
  
  .quote{
    font-size: 400%;
    float: right;
    opacity: .1;
    transform: rotate(10deg) translate(-10px, -40px);
   color:#4D3FA3;
  }
  
  .skill{
    color:white;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size:1.5rem;
    font-weight: 600;
    white-space: nowrap;
  }

/* Media Query for Specialization*/
@media (max-width:900px){
    .thirdLayer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: fit-content;
    }
    .container{
        padding: 1em 0 1em 0;
        width:70vw;
    }
}

/*Start of Skills Layer*/
.skills{
    text-align: center;
}

.fourthLayer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    text-align: center;
    margin-top:4em;
}

.fourthLayer div{
    margin-bottom:3em;
}

.fourthLayer h4{
    font-size: 20px;
    margin:10px 0px 10px 0px
}

.fa-brands{
    font-size:45px;
}

.fa-wordpress{
    color:blue
}

.fa-html5{
    color:red;
}

.fa-css3-alt{
    color:blue;
}

.fa-square-js{
    color:yellow;
}

.fa-react{
    color:aqua
}

.fa-python{
    color:blue;
}

.fa-git-alt{
    color:brown;
}

.fa-github{
    color:black;
}

.fa-shopify{
    color:green;
}

.fa-bootstrap{
    color:rgb(121,16,242)
}

.fa-layer-group{
    color:rgb(0,29,52);
    font-size:45px;
}

.fa-figma{
    color:violet
}

/* End of fourthLayer*/

/* media query for skillsLayer*/
@media (max-width:900px){
    .fourthLayer{
        display:grid;
        grid-template-columns: 1fr 1fr;
    }
}

/* Flip Box Layer */
#Portfolio{
    background-image: linear-gradient(to right, #29323c , #485563);
}

.myProject{
    text-align:center;
    margin-bottom: 0px;
    color:white;
    padding-top: 1em;
}

.fifthLayer{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    background-image: linear-gradient(to right, #29323c , #485563);
    height:70em;
    padding-top:5em;
    padding-left: 6rem;
}

.flip-box {
    background-color: transparent;
    width: 300px;
    height: 420px;
    perspective: 1000px; 
}

.flip-box-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-box:hover .flip-box-inner {
    transform: rotateY(180deg);
  }

  .flip-box-front, .flip-box-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden; 
    backface-visibility: hidden;
    border:none;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0,0,0,.3)
  }

  .flip-box-front img{
    border:1px gray solid;
    border-radius:6px;
    width:100%;
    height: 100%;
  }

  .flip-box-back {
    background: rgb(237, 239, 240);
    transform: rotateY(180deg);
    text-align: center;
  }

  .flip-box-back h2{
    font-size: 22px;
    margin:2.5em 1px;
    font-family: 'Times New Roman', Times, serif;
  }

  .flip-box-back h4{
    font-size:19px;
    margin:40px 0px 0px 0px;
    font-family: 'Times New Roman', Times, serif;
    font-weight:400;
  }
  
  .flipBoxBtn{
    background-color:#d22B96;
    width:15rem;
    margin-top:4em;
    height:40px;
    color:white;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    border-radius:4px;
    border:none;
  }

/*media query for flipBox(ProjectLayer)*/
@media (max-width:900px){
    #Portfolio{
        display:flex;
        flex-direction: column;
        flex:1 1;
        align-items: center;
        justify-content: center;
    }
    
    .fifthLayer{
        display: grid;
        grid-template-columns: 1fr;
        margin-top: 0px;
        height:fit-content;
        padding:0px;
    }

    .myProject{
        height: fit-content;
    }

    .flip-box{
        margin:1em 0em 1em 0em;
    }
}



/* Testimonial */

.testimonial{
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 5em;
}

.testimonialContent{
    display: grid;
    width:100%;
    margin-bottom: 3em;
}

.testimonialContent h2{
    font-size: 28px;
    text-align: center;
}

.contentDescription{
    font-weight: 400;
    font-size: 23px;
    text-align: center;
    padding:0px 30px 0px 30px;
}

.testim{
    display: flex;
    flex: 1 1 1;
    justify-content: space-evenly;
}



.testimonyBox{
    min-height: 350px;
    width: 300px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 8px 30px rgba(0,0,0,.3);
    display: flex;
    flex-flow: column;
    justify-content:space-between;
    cursor: pointer;
}


.text{
    padding: 2.2em;
    line-height: 1.7em;
    position: relative;
    font-size: 18px;
}

.box2 .quote{
    font-size: 200%;
    float: left;
    opacity: 1;
    transform: rotate(10deg) translate(-10px, -40px);
    color:#4D3FA3;
    margin-left: -30px;
}

.boxFooter{
    background: linear-gradient(90deg, #2E3192 0%, #1BFFFF 100%);
    height: 118px;
    border-radius: 0px 0px 10px 10px;
    position:relative;
}

.img{
    
    height: 118px;
    width: 118px;
    border-radius: 50%;
    background-image: url("../thumbnails/img-1.webp");
    background-position: center;
    background-size: cover;
    border: 5px solid white;
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    display:flex;
    justify-content:center;
}

.name{
    color:white;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -100%);
    font-size:1.5rem;
    font-weight: 600;
    white-space: nowrap;
    margin: 0px;
  }

/*Media Query for testimonial layout*/
@media(max-width:900px){
    .testimonial{
        display: grid;
        grid-template-rows:  max-content 1fr;
    }

    .testim{
        display: flex;
        flex-direction: column;
        flex:1 1 1;
        justify-content: center;
        align-items: center;
    }

    .content{
        height:fit-content;
        padding-left: 8px;
    }

    .content h2 , .content h4{
        text-align: center;
    }

    .testimonyBox{
        margin:1em 0em 1.5em 0em;
    }
}

/*End of Testimonial Layout*/

/* Contact Form */
.contactSection{
    display:grid;
    grid-template-columns: 1fr 1fr;
    position: relative;
    padding: 50px 10px 30px 10px;
    background-color: white;
    background-image: linear-gradient(to right, #bdc2e8 , #e6dee9);
}

.contactDescription{
    z-index: 1;
    position:absolute;
    top:8em;
    right:5em;
    left:30em;
    background-color: white;
    padding-left: 5em;
    height:24em;
    border-radius: 10px;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
    background-image: linear-gradient(to right, #accbee , #e7f0fd
    );
}

.contactDescription h2, .contactDescription h4{
    font-size: 22px;
    font-weight: 400;
    font-family:'Times New Roman', Times, serif;
    text-align:start;
    padding:0px 25px 0px 15px;
    text-transform: none;
}


.contactForm{
    display: flex;
    justify-content: center;
    height:fit-content;
    z-index: 1;
}

.contactForm2{
    width:20rem;
    border:0px solid black;
    border-radius: 3px;
    padding:10px 40px 55px 40px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    background-image: linear-gradient(to right, #fdfbfb , #ebedee);
}

.contactForm2 h4{
    font-size: 17px;
    font-family:'Times New Roman', Times, serif
}

input{
    height:3em;
    width:100%;
    box-sizing: border-box;
    box-shadow:inset 1px 1px 2px rgba(0,0,0,.2);
    border:1px solid rgba(0,0,0,.3);
    border-radius: 3px;
    padding:15px 15px;
}

input::placeholder{
    font-family:'Times New Roman', Times, serif;
    font-size: 15px;
}

input[type=text]:focus{
    border:1px solid ;
    font-size: 14px;
    font-family:'Times New Roman', Times, serif;
}

.messageBox{
    height:6.5em
}

.messageBtn{
     color: white; 
     height: 3em;
     margin-top:30px;
     background-color: blue;
     border:none;
     border-radius: 4px;
     width:100%;
}

.messageBtn:hover{
    background-color: #d22B96;
}

#triangle-right {
    position:absolute;
    top:49px;
    left:530px;
    width: 0;
    height: 0;
    border-top: 270px solid transparent;
    border-left: 160px solid blue;
    border-bottom: 280px solid transparent;
    z-index:0;
}


@media(max-width:900px){
    .contactSection{display:grid;
    grid-template-columns: 1fr;
    width:100vw;}

    .contactForm2{
        height: fit-content;
        width:70vw;
    }

    .contactDescription{
       display: none;
    }

    #triangle-right{
        display:none;
    }
}
