/* media query for home page*/
@media (max-width:800px) {
    .nav-link{display:none}
}

@media screen and (max-width: 800px) {
    .general-header{padding:0;}
    .home{ background-size:cover; 
        background-position: -550px;
        height:730px;}

    .typ{display: flex;
        top:49%;
        text-align:center;
        font-size:34px;
        font-weight: 800;
        white-space:wrap;
        width:350px}

    .type{display: flex;
          text-align:center;
         font-size:35px;
         font-weight: 800;
         white-space:wrap;
         width:350px}

    main .initial{
        font-size:40px;
        top:30%}
    .nav-link{display:none}
    .left-section{font-size:28px; margin-left:10px;}
    .left-section span{font-size:28px}
}


/* media query for second layer*/

@media screen and (max-width:800px){
    .div{
        display: grid;
        grid-template-rows: max-content max-content;
        margin-left: 0px;
    }
    .personal-info{
        margin: 40px 0px 0px 0px ;
    }

    .personal-info h4{
        font-size:15px;
        margin-left:8px;
    }
    .personal-info h1{
        font-size:19px;
        margin-left:8px;
    }
    .description{
        font-size:17px;
        text-align: center;
    }
    h4{
        font-size:20px;
    }
    .title{
        font-size:25px;
        margin-bottom: 0px;
        
    }

    }
    .content{
        padding-left:8px;
        white-space: wrap;
        max-width: fit-content;
        
    }


    /*media query for third-layer*/
@media(max-width:950px){
    .third-layer{grid-template-columns: 1fr 1fr;}
}

@media(max-width:800px){
    .third-layer{
        display:grid;
    grid-template-columns: 1fr;
    }
}